/*
#logo a img {
	width:94px;
	height:73px;	
}


#title {
	padding-top:34px;
}


#page-title {
	font-weight:bold;
	font-size:13pt;
	margin-top:4px;
	line-height:1;
	letter-spacing:2px;
}

#page-subtitle {
	font-size:10pt;
	line-height:1;
	letter-spacing:4.7px;
	margin-top:4px;
}
*/


#footer-links {
    border:0;
    margin-top: 38px;
    width: 100%;
}

i.fi-social-twitter, i.fi-social-youtube {
  margin-top:3px;
  padding-top: 3px;
  margin-bottom: -8px;
  margin-left:10px;
}

#title {
	padding-top:25px;
}


#page-title {
	font-weight:bold;
	font-size:13pt;
	margin-top:4px;
	line-height:1;
	letter-spacing:2px;
}

#page-subtitle {
	font-size:9pt;
	line-height:1;
	letter-spacing:5.5px;
	margin-top:2px;
}




#go-container {
    margin-top: 2px;
	display:none;
	padding:0px;
	transition: width .5s ease;
}


input#go {
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 0px;
	background-color: #3b4e6f;
}


#updates-container {
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	transition: width .5s ease;
}

#email {
	transition: width .5s ease;
	padding-top:21px;
    padding-left:2px;
}


div#social {
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-right:30px;
}


input#updates {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 25px;
	background-color:#f6f6f6;
	text-align: center; 
	margin-bottom: 0px;
	margin-top: 3px;
}





.news-item {
    margin-top:15px;
    margin-bottom:15px;
}

.news-image {
    margin-bottom:20px; 
    margin-top:10px;
}

div.scrollable {
/*width: 184px;*/
max-height: 250px;
min-height: 50px;
margin: 0;
padding: 7px 0;
overflow-x: hidden;
overflow-y: auto;
border: 1px solid #e8e8e8;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

div.scrollable p {
    line-height:1;
    padding:.3rem;
    margin:0;
    color: #555;
}

div.scrollable-header {
    border: 1px solid #e8e8e8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
    position: relative;
    z-index: 100;
    font-size:14px;
    font-weight:bold;
    border-bottom:0px;
    margin-top:24px;
}

body {
  line-height: 1.4;
}

p {
  line-height: 1.4;
}

h5 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.7rem;
  line-height: .5rem;
}

textarea {
    height: 10em;
}

footer {
	margin-left:10px;
}

.highlight {
	background:#ffffff;
}


.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

i {
 color:#e2e2e2;
 margin:5px;
}



a.orange-link {
	color:#cc6633;
}

#slogan {
  margin-bottom: .5rem;
  font-size: 15px;
  text-align: center;
}

hr {
	margin: .5rem 0 .5rem;
}

#header {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6,p.panel,p.panel a, #page-title a, #page-subtitle a, #slogan {
	color: #3b4e6f;
}


#logo {
	margin-right:0px;
	padding-right:5px;
}


#logo-footer {
    width:60px;
}


#page-title-footer a, #page-subtitle-footer a {
	color: #3b4e6f;
}

#page-title-footer {
	font-weight:bold;
	font-size:11pt;
	margin-top:4px;
	line-height:1;
	letter-spacing: 2px;
}

#page-subtitle-footer {
    font-size: 8pt;
    line-height: 1;
    letter-spacing: 4.6px;
}


#links-footer div {
    font-size:.8rem;
}


div#bluestripe {
  /* background-color: #f9fafc; */
   background-color: #3b4e6f;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-width:790px;
   padding-top:15px;
   padding-bottom:5px;
}

#slogan {
    color:#cccccc;
	margin-bottom: .5rem;
}


.orbit-container {
	width: 99%;
	
}

.slideborder-off {
    border: 3px solid #b2bcc8;
}

.slideborder {
    border: 3px solid #3b4e6f;
}

.bold-link {
    font-weight:bold;
    font-size:1.2rem;
}

.orbit-container .orbit-slides-container li .orbit-caption{
	top:0;
	right:0;
	height:30%;
	width:40%;
	background-color: rgba(255,255,255,0.8);
}

.orbit-caption a {
    display: none;
}