p {
  line-height: 1.4;
}


textarea {
    height: 10em;
}

footer {
	margin-left:10px;
}

.news-image {
	margin-top:9px;
}

.news-item {
	padding-left:0;
	padding-right:1.25rem;
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}

.highlight {
	background:#ffffff;
}

#title {
	margin-left:0px;
	padding-left:5px;
}

#logo {
	margin-right:0px;
	padding-right:5px;
}

#go-container {
	display:none;
	padding:0px;
	transition: width .5s ease;
}


a#go {
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 0px;
	background-color: #3b4e6f;
}


#updates-container {
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	transition: width .5s ease;
}

#email {
	transition: width .5s ease;
}


div#social {
	padding-left:0px;
	/*padding-right:30px;*/
}


input#updates {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 25px;
	background-color:#f6f6f6;
	text-align: center; 
	margin-bottom: 0px;
	margin-top: 2px;
}



.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

i {
 color:#e2e2e2;
 margin:5px;
}

a.orange-link {
	color:#cc6633;
}

#slogan {
	margin-bottom: .5rem;
}

hr {
	margin: .5rem 0 .5rem;
}

#header {
	margin-top:10px;
}

h1,h2,h3,h4,h5,h6,p.panel,p.panel a, #page-title, #page-subtitle, #slogan {
	color: #3b4e6f;
}

/*
#logo {
	margin-right:10px;
}
*/

#page-title {
	font-weight:bold;
	font-size:13pt;
	margin-top:4px;
	line-height:1;
}

#page-subtitle {
	font-size:13pt;
	line-height:1;
}

#page-title-footer, #page-subtitle-footer {
	color: #999999;
}

#page-title-footer {
	font-weight:bold;
	font-size:12pt;
	margin-top:4px;
	line-height:1;
}

#page-subtitle-footer {
	font-size:12pt;
	line-height:1;
}

#links-footer div {
    font-size:.8rem;
}


div#bluestripe {
  /* background-color: #f9fafc; */
   background-color: #b2bcc8;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   min-width:790px;
   padding-top:30px;
   padding-bottom:5px;
}

div#under-graph {
	margin-top: 20px;
}


.orbit-container {
	width: 99%;
	
}

.slideborder-off {
    border: 3px solid #b2bcc8;
}

.slideborder {
    border: 3px solid #3b4e6f;
}

.bold-link {
    font-weight:bold;
    font-size:1.2rem;
}

.orbit-container .orbit-slides-container li .orbit-caption{
	top:0;
	right:0;
	height:30%;
	width:40%;
	background-color: rgba(255,255,255,0.8);
}

.orbit-caption a {
    display: none;
}

div#countrystripe {
  /* background-color: #f9fafc; */
   background-color: #3b4e6f;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: .5rem;
   margin-bottom: .5rem;
   max-width: initial;
   min-width:790px;
   padding-top:30px;
   padding-bottom:5px;
}

div#countrystripe h1 {
    color:#ffffff;
}