.supporting-institutions {
    padding-top:.5rem;
    padding-bottom:.5rem;
}
div.scrollable {
/*width: 184px;*/
max-height: 250px;
min-height: 50px;
margin: 0;
padding: 7px 0;
overflow-x: hidden;
overflow-y: auto;
border: 2px solid #dadada;
}

div.scrollable p {
    line-height:1;
    padding:.3rem;
    margin:0;
}
