div.latest-research p {
    margin-bottom:0;
}

div.latest-research div {
    margin-top:0px;
    margin-bottom:10px;
}

p.caption {
    font-size:12px;
    font-weight:bold;
}

.supporting-institutions {
    padding-top:.5rem;
    padding-bottom:.5rem;
}
div.scrollable {
/*width: 184px;*/
max-height: 250px;
min-height: 50px;
margin: 0;
padding: 7px 0;
overflow-x: hidden;
overflow-y: auto;
border: 1px solid #e8e8e8;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

div.scrollable p {
    line-height:1;
    padding:.3rem;
    margin:0;
    color: #555;
}

div.scrollable-header {
    border: 1px solid #e8e8e8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 8px;
    position: relative;
    z-index: 100;
    font-size:14px;
    font-weight:bold;
    border-bottom:0px;
    margin-top:24px;
}

.country-hover {
    background-color:#f2f2f2;
}



.tabs dd>a, .tabs .tab-title>a {
  outline: none;
  display: block;
  background-color: transparent;
  color: #fff;
  font-weight:bold;
  padding: .5rem 1rem;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1rem;
}

.tabs dd>a:hover, .tabs .tab-title>a:hover {
  background-color: transparent;
  color:#b2bcc8;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background-color: transparent;
  color:#b2bcc8;
}

div#countrystripe {
  /* background-color: #f9fafc; */
   background-color: #3b4e6f;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: .5rem;
   margin-bottom: 0;
   max-width: initial;
   min-width:790px;
   padding-top:30px;
   padding-bottom:5px;
}

div#countrystripe h1 {
    color:#ffffff;
}