ul.category h3 {
    margin-top:10px;
    margin-bottom:0px;
}

div.dataset_description p {
    margin-bottom:0px;
    font-size:.9rem;
}

div.dataset_description {
    margin-bottom:10px;
}

ul.category {
    padding: 0px;
    margin: 0px;
}

ul.category h5 {
    color:black;
    margin: 0px;
    margin-top: 15px;
}

li.dataset {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left:30px;
}

div.dataset-country-display span {
    margin-left: 30px;
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
}

div.dataset-display {
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
}

div.dataset-display:hover > span.arrow i {
    color:#008CBA !important;
}

#embedded-img {
    padding:10px;
    margin-top:6px;
}

.news-item {
    margin-top:15px;
    margin-bottom:15px;
}

.news-image {
    margin-bottom:20px; 
    margin-top:10px;
    width:100%;
}

h1 a, h1 a:hover, h1 a:visited {
  color: #ffffff;
  text-decoration: none;
  line-height: inherit;
  margin-bottom: 0px;
}


div.latest-research p {
    margin-bottom:0;
}

div.latest-research div {
    margin-top:0px;
    margin-bottom:0px;
}

div#more-research {
    margin-top:5px;
    margin-bottom:10px;
}

p.caption {
    margin-top:10px;
    font-size:12px;
    font-weight:bold;
}

.supporting-institutions {
    padding-top:.5rem;
    padding-bottom:.5rem;
}





.tabs-content>.content {
  display: none;
  float: left;
  padding: 0 0;
  width: 100%;
}

.tabs-content img {
    border:1px solid #3b4e6f;
    /*border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.tabs dd>a, .tabs .tab-title>a {
  outline: none;
  display: block;
  background-color: transparent;
  color: #fff;
  font-weight:bold;
  padding: .5rem 1rem;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-size: 1rem;
}

.tabs dd>a:hover, .tabs .tab-title>a:hover {
  background-color: transparent;
  color:#b2bcc8;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background-color: transparent;
  color:#b2bcc8;
}

div#countrystripe {
  /* background-color: #f9fafc; */
   background-color: #3b4e6f;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: .5rem;
   margin-bottom: 0;
   max-width: initial;
   min-width:790px;
   padding-top:5px;
   padding-bottom:5px;
}

#trends-tool {
    padding-top:21px;
}

.trends-tool-on {
    opacity: 1;
    /*border: 4px solid #b2bcc8;*/
}

.trends-tool-off {
    opacity: .95;
    /*border: 4px solid #3b4e6f;*/
}

div#countrystripe h1 {
    color:#ffffff;
}

div#stripecontainer {
    margin-top:3px;
    margin-bottom:3px;
}

.staff-image {
    margin-bottom:20px; 
    margin-top:5px;
}

.featured-research-image {
  float: left;
  margin-right: 10px;
  width: 45%;
  margin-top:5px;
}