<!-- extend from base layout -->
{% extends "admin/base.html" %}

{% block content %}

{% if current_user.country %}
<h4>{{ form.name.data }}</h4>
{% else %}
<h4>Countries</h4>
{% endif %}

<form action="" method="post" name="country" enctype="multipart/form-data">
{{ form.hidden_tag() }}


{% if current_user.country %}

<input type=hidden name="{{ form.name.name }}" value="{{ form.name.data }}">

{% else %}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Name</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.name(size=40) }}
	  </label>
	  {% for error in form.name.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>
{% endif %}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Principal</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.principal(size=40) }}
	  </label>
	  {% for error in form.principal.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Location</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.location(size=40) }}
	  </label>
	  {% for error in form.location.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Image</label>
	</div>
	<div class="small-11 columns">
	  {% if url %}
	      <p>
	      <img src="{{ url }}">
	      <br>
	      <a href="{{ url_for('admin_countries_removeimage',id=id) }}">remove image</a>
	      </p>
      {% else %}
          <label class="error">
          {{ form.image(size=40) }}
          </label>
          {% for error in form.image.errors %}
          <small class="error">{{ error }}</small>
          {% endfor %}
      {% endif %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Heading</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.heading(size=40) }}
	  </label>
	  {% for error in form.heading.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">About</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.about(cols="35", rows="15") }}
	  </label>
	  {% for error in form.about.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<br>

<div class="row">
<div class="small-1 columns">&nbsp;</div>
<div class="small-7 columns">
<input class="button small" type="submit" value="Save">
{% if id %}
&nbsp;&nbsp;
<a href="{{ url_for('admin_countries_delete',id=id) }}">
<input class="button alert small" type="button" value="Delete">
</a>
{% endif %}
</div>

<div class="small-2 columns">
<a href="{{ url_for('admin_countries_research',slug=slug) }}">Edit Research</a>
</div>

<div class="small-2 columns">
<a href="#">Edit Staff</a>
</div>


</form>

{% endblock %}