{% extends "admin/base.html" %}

{% block content %}

<h4>Login</h4>
<form action="" method="post" name="login">
{{ form.hidden_tag() }}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Email</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.email(size=40) }}
	  </label>
	  {% for error in form.email.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Password</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.password(size=40) }}
	  </label>
	  {% for error in form.password.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>
<br>

<p><input class="button small" type="submit" value="Login"></p>


</form>


{% endblock %}



