<!-- extend from base layout -->
{% extends "admin/base.html" %}

{% block content %}

<h4>
{% if not current_user.country %}
    <a href="{{ url_for('admin_country_list') }}">Projects</a> >>
{% endif %}
<a href="{{ url_for('admin_country_item',slug=country.slug) }}">{{ country.name }}</a> >> News
</h4>
<table>
{% for item in news.items %}
<tr><td><a href="{{ url_for('admin_news_item',slug=country.slug,id=item.id) }}">edit</a></td><td>{{ item.title }}</td></tr>
{% endfor %}
</table>

{% if news.has_prev or news.has_next %}
<p>
{% if news.has_prev %}<a href="{{ url_for('admin_news_list', slug=country.slug, page=news.prev_num) }}">&lt;&lt; Newer</a>{% else %}&lt;&lt; Newer{% endif %} | 
{% if news.has_next %}<a href="{{ url_for('admin_news_list', slug=country.slug, page=news.next_num) }}">Older &gt;&gt;</a>{% else %}Older &gt;&gt;{% endif %}
</p>
{% endif %}

<a href="{{ url_for('admin_news_item',slug=country.slug,id='add') }}">Add news</a>

{% endblock %}