<!-- extend from base layout -->
{% extends "admin/base.html" %}

{% block content %}

<h4>News Item</h4>
<form action="" method="post" name="login" enctype="multipart/form-data">
{{ form.hidden_tag() }}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Title</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.title(size=40) }}
	  </label>
	  {% for error in form.title.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>


<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Image</label>
	</div>
	<div class="small-11 columns">
	  {% if filename %}
	      <p>
	      <img src="/static/img/news/{{ filename }}">
	      <br>
	      <a href="{{ url_for('admin_news_removeimage',id=id) }}">remove image</a>
	      </p>
      {% else %}
          <label class="error">
          {{ form.image(size=40) }}
          </label>
          {% for error in form.title.errors %}
          <small class="error">{{ error }}</small>
          {% endfor %}
      {% endif %}
	</div>
</div>




<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Content</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.content(cols="35", rows="15") }}
	  </label>
	  {% for error in form.content.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>
<br>

<p><input class="button small" type="submit" value="Save"></p>


</form>

{% endblock %}