<!-- extend from base layout -->
{% extends "admin/base.html" %}

{% block content %}


<h4><a href="{{ url_for('admin_page_list') }}">Pages</a></h4>
<form action="" method="post" name="user" enctype="multipart/form-data">
{{ form.hidden_tag() }}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Title</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.title(size=40) }}
	  </label>
	  {% for error in form.title.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

{% if slug %}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">URL</label>
	</div>
	<div class="small-11 columns">
	  <a href="{{ url_for('page',slug=slug) }}" target="_blank">http://www.comparativeagendas.net{{ url_for('page',slug=slug) }}</a>
	</div>
</div>

{% endif %}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Body</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.body(cols="35", rows="15") }}
	  </label>
	  {% for error in form.body.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>
<br>

<div class="row">
<div class="small-1 columns">&nbsp;</div>
<div class="small-11 columns">
<input class="button small" type="submit" value="Save">
{% if id %}
&nbsp;&nbsp;
<a href="{{ url_for('admin_page_delete',id=id) }}">
<input class="button alert small" type="button" value="Delete">
</a>
{% endif %}
</div>

</form>

{% endblock %}