<!-- extend from base layout -->
{% extends "admin/base.html" %}

{% block content %}

<h4><a href="{{ url_for('admin_user_list') }}">Users</a></h4>
<form action="" method="post" name="user" enctype="multipart/form-data">
{{ form.hidden_tag() }}

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Name</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.name(size=40) }}
	  </label>
	  {% for error in form.name.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Email</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.email(size=40) }}
	  </label>
	  {% for error in form.email.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Password</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.password(size=40) }}
	  </label>
	  {% for error in form.password.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<div class="row">
	<div class="small-1 columns">
	  <label for="title" class="right inline">Country</label>
	</div>
	<div class="small-11 columns">
	  <label class="error">
	  {{ form.country }}
	  </label>
	  {% for error in form.country.errors %}
	  <small class="error">{{ error }}</small>
      {% endfor %}
	</div>
</div>

<br>

<div class="row">
<div class="small-1 columns">&nbsp;</div>
<div class="small-11 columns">
<input class="button small" type="submit" value="Save">
{% if id %}
&nbsp;&nbsp;
<a href="{{ url_for('admin_user_delete',id=id) }}">
<input class="button alert small" type="button" value="Delete">
</a>
{% endif %}
</div>

</form>

{% endblock %}