<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="{{request.url_root}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Comparative Agendas</title>
	
	<link href="//cdn.jsdelivr.net/foundation/5.5.0/css/normalize.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/foundation/5.5.0/css/foundation.min.css" rel="stylesheet">	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet">
	<script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.js"></script>
    <link href="/static/css/base.css" rel="stylesheet">
    
    {% block head %}{% endblock %}

    <link href="/static/css/important.css" rel="stylesheet">
    
  </head>

<body>
    
    <div id="header" class="row clearfix">
	
	    <div style="margin-left:15px;" class="medium-6 columns left">
	        
	        <div class="row">
	            
	            <div id="logo" class="medium-2 columns">
	                
	                <a href="/"><img src="/static/img/CAP.png"/></a>
	                
	            </div>
	            
	            <div id="title" class="medium-10 columns">
	                
	                <div id="page-title"><a href="">COMPARATIVE AGENDAS PROJECT</a></div>
                    <div id="page-subtitle"><a href="">COMPARING POLICIES WORLDWIDE</a></div>
	                
	                
	            </div>
	            
	            
	        </div>
	         
	    </div>
	    
	    <div class="medium-5 columns right">
	        
	        <div class="row clearfix">
	        
                <div id="email" class="medium-8 columns left">
                    <div class="row">
                        
                        <form action="//policyagendas.us2.list-manage.com/subscribe/post?u=a34b8543d52fbaaec3da9acde&amp;id=fe9ba5a1b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        
                        <div id="updates-container" class="medium-10 columns">
                            <input name="EMAIL" class="inline" id="updates" type="text" placeholder="email@host.com" value="Get Updates">
                        </div>
    
                        <div id="go-container" class="medium-2 columns">
                            <input type="submit" id="go" class="button round tiny inline" value="GO">
                        </div>
                        
                        </form>
    
                    </div>
                </div>
            
            
                <div id="social" class="medium-4 columns right">
                    <a href="#"><i class="fi-social-twitter size-36 right"></i></a>
                    <a href="#"><i class="fi-social-youtube size-36 right"></i></a>
                    <!--<a href="#"><img src="/static/img/twitter.png"/></a>
                    <a href="#"><img src="/static/img/youtube.png"/></a>-->
                    
                </div>
	        
	        </div>
	        

        </div>
         
     </div>
      
    {% block content %}{% endblock %}
    
</body>
        
<footer>
      
      <div class="row">   
        
        <div class="medium-5 columns left">
                  
            <a href="/"><img id="logo-footer" src="/static/img/CAP.png"/></a>
            <div id="page-title-footer"><a href="">COMPARATIVE AGENDAS PROJECT</a></div>
            <div id="page-subtitle-footer"><a href="">COMPARING POLICIES WORLDWIDE</a></div>
            
        </div>
   
        <div class="medium-7 columns right">
        
            <table id="footer-links"><tr>
            <td><a class="orange-link" href="/pages/About">About</a></td>
            <td><a class="orange-link" href="/pages/Site-map">Site Map</a></td>
            <td><a class="orange-link" href="/pages/How-to-cite">How to Cite</a></td>
            <td><a class="orange-link" href="/pages/Copyright-and-Legal">Copyright/Legal</a></td>
            <td><a class="orange-link" href="/pages/API">API</a></td>
            <td><a class="orange-link" href="/pages/Contact-us">Contact us</a></td>
            </tr></table>
            
        </div>
        
        
        
      </div>  
      
      </footer>
      
        
      <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>	  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>  
     
     
    {% block scripts %}{% endblock %}
    
    
        <script src="/static/js/main.js"></script>

  </body>
</html>