<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <base href="{{request.url_root}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Comparative Agendas</title>
	
	<link href="//cdn.jsdelivr.net/foundation/5.5.0/css/normalize.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/foundation/5.5.0/css/foundation.min.css" rel="stylesheet">	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.js"></script>
    
  </head>

  <body>

    {% block content %}{% endblock %}

	  <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>	  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
      <script src="/static/js/main.js"></script>
      
     <script>
      $(document).foundation({
          orbit: {
            animation: 'slide',
            timer_speed: 8000,
            pause_on_hover: true,
            resume_on_mouseout: true,
            animation_speed: 1000,
            navigation_arrows: false,
            bullets: true,
            slide_number: false,
            next_on_click: false
          }
        });
        
        </script>


  </body>
</html>