{% extends "base.html" %}


{% block head %}

<link href="/static/css/country.css" rel="stylesheet">

{% endblock %}


{% block content %}

<div id="countrystripe">
     
     <div id="stripecontainer" class="row">
     
        <div class="medium-12 columns">
        
            <div class="row">
                
                <div class="medium-9 columns">
                
        	        <h1> <a href="{{ url_for('country',slug=country.slug,pane='about') }}">{{ country.name }}</a> </h1>
        	        
        	        <div id="menu" class="row">
        	                
                        <dl class="tabs" data-tab>
                            
                          {% if pane=='about' %}
                          <dd class="active"><a href="#about-pane">About</a></dd>
                          {% else %}
                          <dd><a href="#about-pane">About</a></dd>
                          {% endif %}
                          
                          {% if pane=='datasets' %}
                          <dd class="active"><a href="#datasets-pane">Datasets</a></dd>
                          {% else %}
                          <dd><a href="#datasets-pane">Datasets</a></dd>
                          {% endif %}
                          
                          {% if pane=='research' %}
                          <dd class="active"><a href="#research-pane">Research</a></dd>
                          {% else %}
                          <dd><a href="#research-pane">Research</a></dd>
                          {% endif %}
                          
                          {% if pane=='staff' %}
                          <dd class="active"><a href="#staff-pane">Staff</a></dd>
                          {% else %}
                          <dd><a href="#staff-pane">Staff</a></dd>
                          {% endif %}
                          
                        </dl>
        	            
        	            <!--<div class="medium-3 columns">
        	            Datasets
        	            </div>
        	            
        	            <div class="medium-3 columns">
        	            Research
        	            </div>
        	            
        	            <div class="medium-3 columns">
        	            &nbsp;&nbsp;&nbsp;Staff
        	            </div>
        	            
        	            <div class="medium-3 columns">
        	            About
        	            </div>-->
        	            
        	        </div>
        	    
        	    </div>
        	    
        	    <!--<div class="medium-4 columns">&nbsp;</div>-->
        	    
                <div class="medium-3 columns left">
                    
                    <a href="{{ url_for('tool') }}?project={{ country.slug }}" target="_tool"><img id="trends-tool" src="/static/img/rounded-trend-button.png"/></a>
                    
                </div>
        
            </div>
            
        </div>
        
      </div>
            
     </div>





<!-- ABOUT PANE -->
<div class="row">
<div class="medium-12 columns">
        
            <div class="row">
                
                <div class="medium-9 columns">
                    
                <div class="row">
                
                    <div class="tabs-content">
                        
                        
                        {% if pane=='datasets' %}
                        <div class="content active" id="datasets-pane"> 
                        {% else %}
                        <div class="content" id="datasets-pane"> 
                        {% endif %} 
                         
                            
                            <div class="medium-12 columns">
                            
                                <h3>Datasets</h3>
                        
                                {% if country.datasets_intro %}
                                
                                {{ country.datasets_intro|safe }}
                                
                                {% endif %}
                                
                                {% for category in categories %}
                                
                                <ul class="category">
                                <h5>{{category.name}}</h5>
                                
                                {% for dataset in category.datasets %}
                                
                                <li class="dataset">
                                    
                                    <a class="line-item clickable" href="#congressional_hearings">
                                        <div class="dataset-display clearfix">
                                        <span class="left">{{dataset.display}}</span>
                                        <span class="arrow right"><i class="fi-arrow-down"></i><i style="display:none;" class="fi-arrow-up ng-hide"></i></span>
                                        </div>
                                    </a>
                                    
                                    <div class="dataset_description" style="display: none;">
                                    
                                    {{dataset.description | safe}}
                                    <a class="clickable" href="/_uploads/datasetfiles/{{dataset.datasetfilename}}">download dataset</a>
                                    
                                    {% if dataset.codebookfilename %}
                                    &nbsp;&nbsp;<a class="clickable" href="/_uploads/codebookfiles/{{dataset.codebookfilename}}" target="_new">download codebook</a>
                                    {% endif %}
                                    
                                    </div>
                                    
                                </li>
                                
                                {% endfor %}
                                
                                </ul>
                                
                                
                                {% endfor %}
                            
                            
                            </div>
                    
                        </div>
                
                        {% if pane=='research' %}
                        <div class="content active" id="research-pane"> 
                        {% else %}
                        <div class="content" id="research-pane"> 
                        {% endif %} 
                        
                            <div class="medium-12 columns">
                            
                                <h3>Research</h3>
                                
                                {% for item in research %}

                                <div class="row">

                                    <div class="medium-4 columns">
                                    <img class="news-image" src="http://beta.comparativeagendas.com/_uploads/researchimages/{{ item.imagename }}"/>
                                    </div>

                                    <div class="medium-8 columns">
                                    <h5>{{ item.title }}</h5>
                                    {{ smart_truncate(item.body,280)|safe }}
                                    <a class="orange-link" href="{{ url_for('research_item',slug=country.slug,id=item.id) }}">read more</a>
                                    </div>

                                </div>
                                
                                <p>&nbsp;</p>

                                {% endfor %} 
                                
                                
                                
                                
                            </div>
                    
                        </div>
                
                        {% if pane=='staff' %}
                        <div class="content active" id="staff-pane">
                        {% else %}
                        <div class="content" id="staff-pane">
                        {% endif %}
                            
                            <div class="medium-12 columns">
                            
                                <h3>Staff</h3>
                                
                                {% for item in staff %}

                                <div class="row">

                                    <div class="medium-3 columns">
                                    <img class="staff-image" src="_uploads/staffimages/{{ item.filename }}"/>
                                    </div>

                                    <div class="medium-9 columns">
                                    <h5>{{ item.name }}</h5>
                                    <strong>Title:</strong> {{ item.title }}
                                    <br><strong>Institution:</strong> {{ item.institution }}
                                    {{ item.body|safe }}
                                    </div>

                                </div>

                                {% endfor %} 
                                
                            
                            </div>
                    
                        </div>
                        

                        
                        {% if pane=='about' %}
                        <div class="content active" id="about-pane">
                        {% else %}
                        <div class="content" id="about-pane">
                        {% endif %}
                        
                            <div class="medium-6 columns">
                                
                                
                                
                                <h3>Explore Policy Trends</h3>
                                
                                {% if country.embed_url %}
                                
                                <a href="{{ url_for('tool') }}?project={{ country.slug }}" target="_tool">
                                <img id="embedded-img" src="{{ country.embed_url }}" width="100%"/>    
                                </a>
                                
                                <p class="caption">
                                Click to explore policy trends with {{ country.name }} pre-selected.
                                The Trends tool allows for policy comparisons across governing institutions and countries.
                                </p>
                                
                                {% endif %}
                                
                                <p>{{ country.about|safe }}</p>
                                
                                <p>
                                {% if country.principal %}<strong>Principal Investigator:</strong>&nbsp;{{ country.principal }}<br/>{% endif %}
                                {% if country.location %}<strong>Location:</strong>&nbsp;{{ country.location }}<br/>{% endif %}
                                <strong>Downloadable Data Series:</strong>&nbsp;{{ country.stats_series }}<br/>
                                <strong>Time Span:</strong>&nbsp;{{ country.stats_year_from }}-{{ country.stats_year_to }}<br/>
                                <strong>Total Observations:</strong>&nbsp;{{ "{:,}".format(country.stats_observations) }}<br/>
                                </p>
                                
                               <!-- <img class="supporting-institutions" src="http://baconmockup.com/300/75"/>
                                <img class="supporting-institutions" src="http://baconmockup.com/300/75"/> 
                                <img class="supporting-institutions" src="http://baconmockup.com/300/75"/> 
                                <img class="supporting-institutions" src="http://baconmockup.com/300/75"/> 
                                <img class="supporting-institutions" src="http://baconmockup.com/300/75"/>    --> 
                            
                            </div>
                
                            <div class="medium-6 columns">
                          
                            
                            <h3>{{ country.heading }}</h3>
                                
                                <strong>Featured Research:</strong>
                                
                                
                                {% for item in latest_research %}

                                <div class="row latest-research">

                                    <!--<div class="medium-3 columns">
                                    <img class="news-image" src="{{ item.url }}"/>
                                    </div>-->

                                    <div class="medium-12 columns">
                                    <h5>{{ item.title }}</h5>
                                    <p>
                                    {% if item.imagename %}<img style="float:left; margin-right:10px;" class="featured-research-image" src="http://beta.comparativeagendas.com/_uploads/researchimages/{{ item.imagename }}">{% endif %}
                                    {{ smart_truncate(item.body,475)|safe }}
                                    <a class="orange-link" href="{{ url_for('research_item',slug=country.slug,id=item.id) }}">read more</a></p>
                                    
                                    <div id="more-research">
                                    <a class="orange-link" href="{{ url_for('country',slug=country.slug,pane='research') }}">more research</a>
                                    </div>
                                    
                                    </div>

                                </div>

                                {% endfor %} 
                                
                                
                                {% if url %}
                        
                                <img src="{{ url }}"/>
                            
                                {% endif %}
                            
                            </div>
                            
        	            </div>
        	        
        	        </div>
        	    
        	    </div>
        	    
        	    </div>
        	    
                <div class="medium-3 columns left">
                    
                 {% set active_page = "country" %}  
                 {% include "sidebar.html" %}
                  
                               
                </div>
        
            </div>
            
</div>
</div>
</div>

{% endblock %}    

{% block scripts %}


      <script>
        
     
  $(document).foundation({
    tab: {
      callback : function (tab) {
        //console.log(tab);
      }
    }
  });

      
        $(document).ready(function() {
            
            /*
            $(".scrollable p").hover(function() {
    
                $(this).addClass('country-hover');	
    
            }, function() {
    
                $(this).removeClass('country-hover');
    
            });
            */
                
            $("li.dataset a.line-item").click(function(event) {
                $(this).siblings("div.dataset_description").slideToggle(200);
                $(this).find("i.fi-arrow-down").toggle();
                $(this).find("i.fi-arrow-up").toggle();
                event.preventDefault();
            });

 
        });
        
        </script>

{% endblock %}



