{% extends "base.html" %}

{% block content %}

     <div id="countrystripe">
     
     <div class="row">
     
        <div class="medium-12 columns">
        
            <div class="row">
                
                <div class="medium-4 columns">
                
        	        <h1> {{ country.name }} </h1>
        	    
        	    </div>
        	    
        	    <div class="medium-4 columns">&nbsp;</div>
        	    
                <div class="medium-3 columns left">
                    
                    <h3>tool</h3>
                    
                </div>
        
            </div>
            
        </div>
        
      </div>
            
     </div>


<div class="row">
<div class="medium-12 columns">
        
            <div class="row">
                
                <div class="medium-4 columns">
                
        	        Capicola biltong t-bone kielbasa short loin bresaola, cow corned beef ground round ribeye pig rump frankfurter. Tail drumstick pork belly chuck spare ribs meatloaf. Strip steak rump porchetta beef tenderloin. Ground round short loin hamburger biltong picanha shankle. Ham hock prosciutto meatball, pork belly ribeye tri-tip corned beef shankle salami short loin jerky brisket biltong kielbasa.
        	    
        	    </div>
        	    
        	    <div class="medium-4 columns">Kielbasa ham ribeye chuck, strip steak spare ribs ham hock pork jowl. Brisket hamburger turkey biltong andouille, pig sausage ham hock corned beef pastrami swine pork belly. Strip steak flank chicken short loin pork loin sausage hamburger beef meatball venison sirloin pork chop turducken leberkas. T-bone turkey pancetta tail, boudin short ribs pork chop filet mignon jowl tongue fatback strip steak tenderloin. Rump biltong turducken pastrami, hamburger andouille shoulder turkey ball tip. Shankle ball tip tri-tip cow. Pig prosciutto boudin alcatra turducken tail porchetta tenderloin flank cupim.</div>
        	    
                <div class="medium-3 columns left">
                    
                    Spare ribs prosciutto turkey chicken. Biltong tenderloin shankle flank venison brisket ribeye bresaola short loin doner sirloin. Ground round rump fatback tenderloin kevin pork chop, flank porchetta ham hock tongue pastrami turkey. Leberkas swine sausage, prosciutto tail short ribs andouille picanha shoulder cupim. Tail capicola brisket rump landjaeger boudin biltong tongue. Porchetta picanha tail ball tip biltong andouille prosciutto beef spare ribs pastrami flank ham hock turducken sirloin. Swine shoulder pork chop, strip steak short loin drumstick sirloin boudin rump hamburger landjaeger short ribs.
                    
                </div>
        
            </div>
            
</div>
</div>


{% endblock %}    

{% block scripts %}{% endblock %}



