{% extends "base.html" %}

{% block head %}

<link href="/static/css/index.css" rel="stylesheet">

{% endblock %}

{% block content %}

     <p/>
     
     <div class="row">
     	<div id="slogan" class="medium-12 columns">
     	The Comparative Agendas Project collects and organizes data from archived sources to track policy outcomes across countries. <a class="orange-link" href="pages/About">more</a>
     	</div>
     </div>
      
     <div id="bluestripe">
     
     <div class="row">
     
        <div class="medium-12 columns">
        	<ul class="slider" data-orbit>
        	 
        	{% for item in slides %}
        	 
			  <li>
				<a target="_tool" href="{{ item.link }}"><img class="orbit-img" src="{{ item.url }}" alt="slide 1" /></a>
				<div class="orbit-caption">
				  <h4>{{ item.heading }}</h4>
				  <h6>{{ item.subheading }}</br>
				  <a class="orange-link bold-link" target="_tool" href="{{ item.link }}">open in trends tool</a></h6>
				</div>
			  </li>
			  
			{% endfor %}
			  
			</ul>
        </div>
        
      </div>
      
      
     </div>
         
     
<div id="under-graph" class="row">

        <div class="medium-9 columns">
          
          <h3>News</h3>
          
			{% for item in news %}

			<div class="row">

				<div class="medium-4 columns">
				<img class="news-image" src="{{ item.url }}"/>
				</div>

				<div class="medium-8 columns">
				<h5>{{ item.title }}</h5>
				{{ smart_truncate(item.content,250)|safe }}
				<a class="orange-link" href="/news/{{ item.slug }}">read more</a>
				</div>
                
                
			</div>

			{% endfor %} 
			
			<div clas="row">
			
			<div class="medium-4 columns">
				&nbsp;
			</div>
			
			<div class="medium-8 columns text-center">
			    <a class="orange-link" href="/news">more news</a>
			    <br/><br/>
			</div>  
			
			</div>
			      
        
        </div>
        
        
        
        
        <div class="medium-3 columns left">
        
            <a target="_tool" href="/tool">
        	    <p class="panel">Explore Trends Tool</p>
        	</a>
        	
      		<a href="#" data-options="align:top; is_hover:true;" data-dropdown="drop">
      			<p class="panel">Explore Country Projects</p>
      		</a>
      		
			<ul id="drop" class="f-dropdown" data-dropdown-content>
			{% for item in countries %}
			  <li><a href="/countries/{{ item.slug }}">{{ item.name }}</a></li>
			{% endfor %} 
			</ul>
				
			<a href="/datasets_codebooks">
      		    <p class="panel">Datasets / Codebooks</p>
      		</a>
      		
      		<a href="pages/About">
      		    <p class="panel">About</p>
      		</a>
      		
        </div>
        

</div>

{% endblock %}    

{% block scripts %}
 
      <script>
      
      $(document).foundation({
          orbit: {
            animation: 'slide',
            timer_speed: 8000,
            pause_on_hover: true,
            resume_on_mouseout: true,
            animation_speed: 1000,
            navigation_arrows: false,
            bullets: true,
            slide_number: false,
            next_on_click: false
          }
        });
        
        </script>
           
{% endblock %}



