{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}

<div id="bluestripe">
     
    <div class="row">
     	<div id="slogan" class="medium-12 columns">
     	The Comparative Agendas Project collects and organizes data from archived sources to track policy outcomes across countries.&nbsp;&nbsp;&nbsp;<a class="orange-link" href="pages/About">Read more</a>
     	</div>
     </div>

</div>

<div class="row">
<div class="medium-9 columns">
        
 <h3>News</h3>
          
			{% for item in news.items %}

			<div class="row">
                
                <div class="news-item">
                
	
                    <div class="medium-4 columns">
                    <img class="news-image" src="{{ item.url }}"/>
                    </div>

                    <div class="medium-8 columns">
                    <h5>{{ item.title }}</h5>
                    <em class="date">{{ item.saved_date.strftime('%d %b %Y') }}</em><br/>
                    {{ smart_truncate(item.content,275)| safe }}
                    <br>
                    <a class="orange-link" href="/news/{{ item.slug }}">Read more</a>
				    </div>
				    
				</div>
				
				

			</div>
            <br/>
			{% endfor %} 

{% if news.has_prev or news.has_next %}
<br/>	
{% if news.has_prev %}<a href="{{ url_for('news', page=news.prev_num) }}">&lt;&lt; Newer</a>{% else %}&lt;&lt; Newer{% endif %} | 
{% if news.has_next %}<a href="{{ url_for('news', page=news.next_num) }}">Older &gt;&gt;</a>{% else %}Older &gt;&gt;{% endif %}
{% endif %}			                  
            
</div>


<div class="medium-3 columns left">

{% include "sidebar.html" %}

</div>

</div>


{% endblock %}    

{% block scripts %}{% endblock %}



