{% extends "base.html" %}

{% block head %}{% endblock %}

{% block content %}


<div id="bluestripe">
     
    <div class="row">
     	<div id="slogan" class="medium-12 columns">
     	The Comparative Agendas Project collects and organizes data from archived sources to track policy outcomes across countries.&nbsp;&nbsp;&nbsp;<a class="orange-link" href="pages/About">read more</a>
     	</div>
     </div>

</div>




<div class="row">

<div class="medium-9 columns">



<h3>{{ page.title }}</h3>  
{{ page.body|safe }}


</div>

<div class="medium-3 columns left">

{% include "sidebar.html" %}

</div>

</div>

{% endblock %}    

{% block scripts %}{% endblock %}



