{% extends "base.html" %}

{% block head %}

<link href="/static/css/menutree.css" rel="stylesheet">
<link href="/static/css/tool.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div ng-app="toolApp">

<div id="toolcontroller" ng-controller="ToolController">

<div id="bluestripe">
     
    <div class="row fullWidth">
     	<div class="medium-12 columns">
     	 <div class="row fullWidth">
     	    
     	    <div class="medium-11 columns text-right">
     	        <a id="save-chart" ng-click="saveChart()" class="button tiny clickable">Pin chart</a>
     	        <a id="clear-chart" ng-click="clearChart()" class="button tiny clickable">Reset tool</a>
     	    </div>
     	    
     	    <div class="tool-help medium-1 columns text-left">
     	    <a class="orange-link" href="pages/Help">help</a>
     	    </div>
     	    
     	 </div>
     	</div>
     </div>

</div>


<div id="app-container">

<div class="row fullWidth">    

<input type="hidden" id="user" name="user" value="{{user}}" />
<input type="hidden" id="slug" name="slug" value="{{slug}}" />

<!-- BEGIN chart region -->
<div class="large-9 medium-9 push-3 columns">
         
        <div class="row">
            
            <div class="small-12 columns">
            
            <div style="margin-right:10px;" class="holdme">
            
            <dl class="tabs" data-tab>
              <dd class="active"><a class="clickable" href="#graph-view">Edit</a></dd>
              <dd><a class="clickable" href="#data-view">Explore</a></dd>
            </dl>
            
            <div class="row">
                
                <div style="display:none;" id="intro">To create a chart, select project(s), dataset type(s), and policy topic(s) from the list on the left.</div>
                
                <div id="chart">
                </div>
          
            </div>
            
            <div class="row">
            		
            		<div title="Click to remove!" id="chosen" style="margin-left:62px;">
            
						<span ng-repeat="series in chart.series">
			
						<span ng-click="removeFromChart($index)" class="series" ng-style="{@series.color@}">
						<i class="fi-x"></i>
						<span>{@series.name@}</span>
						
						</span>
					
						</span>
            		
            		</div>

            </div>
            
            <div class="tabs-content">
            
                <div class="content active clearfix" id="graph-view">
                
                <div class="row">
                
                <div style="margin-left:53px;" class="medium-3 columns left">
                    
                        <label><h5>Additional Options</h5></label>
                        <p>Click on data points for additional options.</p>
                               
               </div>
                
                <div style="margin-left:2%;" class="medium-3 columns left">
                
                    
                     <label><h5>Chart type</h5></label>
                 <select class="type" ng-change="allSeriesSameType('{@chart.chartType@}')" ng-model="chart.chartType" ng-options="type.type as type.display for type in chart_types"></select>
 
                    
                    
                    <label><h5>Chart export</h5></label>
					
					<select ng-change="chartExport(chart.exportOption)" ng-model="chart.exportOption" ng-options="option.num as option.display for option in export_options" class="from years" style="display: inline-block;"></select>
					
                    
                    
                
                 
                </div>
                

				<div class="medium-3 columns right" style="margin-right:10%">
					
					
				   <label><h5>Dates</h5></label>
				   
				   
                    
                    <input type="radio" ng-model="chart.timeSeries" ng-change="drawChart()" value="years">
                    Year
                    &nbsp;&nbsp;
                    <input type="radio" ng-model="chart.timeSeries" ng-change="drawChart()" value="congresses">
                    US Congress
                    <br/>
				   
				   
                   <select ng-change="changeYears()" ng-model="chart.yearFrom" ng-options="item.value as item.display for item in chart.timePeriodsAvailable | filter: lessThan(chart.yearTo)" class="from years" name="years_from" style="display: inline-block;"></select>
                   <select ng-change="changeYears()" ng-model="chart.yearTo" ng-options="item.value as item.display for item in chart.timePeriodsAvailable | filter: greaterThan(chart.yearFrom)" class="to years" name="years_to" style="display: inline-block;"></select>
                    
					
					<!--<select ng-change="chartExport()" >
					<option selected="selected">&nbsp;</option>
					<option value="download">Download Image</option>
					<option value="copy">Copy URL</option>
					<option value="embed">Embed</option>
					</select>-->
					
				</div>
                 
                 </div>
                 
                </div>
                
                <div style="margin-left:54px" class="content" id="data-view">
                
                <p>Click on data points to see underlying data.</p>
                
                <table id="drilldown" class="drilldown">
                   <tbody>
                      <tr>
                         <th></th>
                         <th ng-repeat="series in chart.series">
                            <h3>{@series.name@}</h3>
                            <!--<h3 class="text-center">({@series.measure@})</h3>-->
                         </th>
         
                      </tr>
                      <tr ng-repeat="period in chart.periodsSelected">
                         <td>{@ period.display @}</td>
                         <td ng-style="{@series.color@}" ng-repeat="series in chart.series">
                         <div class="text-center">
                         <a class="clickable" ng-click="openDrilldown(series,period.value)">{@ series.chartdata[$parent.$index] @}</a>
                         <!--<span ng-if="!hasDrilldown(series)">{@ series.chartdata[$parent.$index] @}</span>-->
                         </div>
                         </td>
                      </tr>
                   </tbody>
                </table>
                
                <a id="copy-table" data-clipboard-target="#drilldown">Copy table to clipboard</a>
                <p/>
                
                <table class="drilldown">
                   <tbody>
                      <tr>
                         <th style="color:transparent;">0000<span ng-show="chart.timeSeries == 'congresses'">000</span></th>
                         <th ng-repeat="series in chart.series">
                            <h3>{@series.name@}</h3>
                         </th>
                      </tr>
                      <tr>
                         <td></td>
                         <td ng-style="{@series.color@}" ng-repeat="series in chart.series">
                         <div class="text-center">
                         <a class="clickable" ng-href="{@ getInstancesUrl(series.filters,series.dataset,series.sub,series.topic) @}">Download all data</a>
                         </div>
                         </td>
                      </tr>
                   </tbody>
                </table>
                
                
                
                <!--<a id="download-data">Download all data</a>-->
                
                </div>
                
            </div>
            
        </div>
        
        </div>
        
        </div>
         
</div>
<!-- END chart region -->

<!-- BEGIN left sidebar -->  
<div class="large-3 medium-3 pull-9 columns">

     
<dl class="tabs" data-tab>
  <dd class="active"><a class="clickable" href="#panel1">Policies</a></dd>
  <dd><a class="clickable" href="#panel3">Budgets</a></dd>
  <dd><a class="clickable" href="#panel2">Chart History</a></dd>
</dl>
<div class="tabs-content contained">

  <!-- BEGIN policies panel -->
  <div class="content active" id="panel1">
        
    <h5 class="picker-label clickable">Select projects<span ng-show="countryCount() > 0" class="selection_count">{@countryCount()@}</span></h5>
    <div id="projects" class="picker" style="display:block">
    <div ng-repeat="country in countries">
    <input id="{@country.slug@}" ng-attr-country="{@country.short_name@}" type="checkbox" ng-click="doFacets()">
    <label>{@country.name | limitTo : 27@}</label>
    </div>
    </div>
   
	<h5 class="picker-label clickable">Select dataset types<span ng-show="categoryCount() > 0" class="selection_count">{@categoryCount()@}</span></h5>
    <div id="categories" class="picker">
    <div ng-repeat="category in categories">
    <input ng-attr-catid="{@category.category_id@}" type="checkbox" ng-click="doFacets()">
    <label>{@category.name | limitTo : 32@}</label>
    </div>
    </div>
   
    <h5 class="picker-label clickable">Select policy topics<span ng-show="topicCount() > 0" class="selection_count">{@topicCount()@}</span></h5>
    <div id="topics" class="picker">

        <ol class="menutree">
            
            <li><label class="menu_label" for="t0"><input type="checkbox" class="choose_topic" topic="0" ng-click="doFacets()"><span class="major_topic">All Topics</span></label></li>
            
            <li ng-repeat="topic in topics">
            <label class="menu_label" for="t{@topic.id@}"><input type="checkbox" class="choose_topic" topic="{@topic.id@}" ng-click="doFacets()"><span class="major_topic clickable">{@topic.name | limitTo:33 @}</span><span style="float:right;"><i ng-hide="isOpen" class="fi-arrow-down"></i><i ng-show="isOpen" class="fi-arrow-up"></i></span></label>
            <input ng-click="isOpen = ! isOpen" type="checkbox" id="t{@topic.id@}"/>
                <ol>
                    <li ng-repeat="subtopic in topic.subtopics">
                    <label class="menu_label" for="s{@subtopic.id@}"><input type="checkbox" class="choose_topic" subtopic="{@subtopic.id@}" ng-click="doFacets()"><span>{@subtopic.name | limitTo:33 @}</span></label>
                    <input type="checkbox" id="s{@subtopic.id@}"/>
                    </li>
                </ol>
            </li>
                        
        </ol>
    
    </div>
   
    <h5 ng-show="countryCount() > 0 && categoryCount() > 0 && topicCount() > 0" class="picker-label">Add series to chart</h5>
    <p class="no_results" ng-show="noResults()">No available series matching your selections.</p>
    <p class="no_results" ng-hide="noResults() || countryCount() == 0 || categoryCount() == 0 || topicCount() == 0">Click on a series below to add it to the chart.</p>
    
    <div title="Click to add!" ng-repeat="result in results" class="dataset">
    <p ng-hide="isSelected(result.name)" ng-click="addToChart(result)" class="panel series">
    <!--<span style="clear:both;">{@result.name@}</span>-->
    <span class="addseries clearfix">
    <span style="float:left; width:90%;">{@result.name@}</span>
    <span style="float:right"><i class="fi-check"></i></span>
    </span>
    </p>
    </div>
    

  </div>
  <!-- END policies panel -->
  
  
  <!-- BEGIN budget panel -->
  <div class="content" id="panel3">
    
    <h5 class="clickable" ng-click="budgetPickerLabel($event)">Select projects<span ng-show="budgetProjectCount() > 0" class="selection_count">{@budgetProjectCount()@}</span></h5>
    <div id="budget_projects" class="picker" style="display:block">
    
    <div ng-repeat="country in budgetProjects">
    <input ng-checked="budgetProjectFoundInChart(country) || country.checked" ng-model="country.checked" ng-click="clickBudgetProject(country,budgetProjectFoundInChart(country))" type="checkbox">
    <label>{@country.name | limitTo : 27@}</label>
    </div>
    
    </div>

    
    <div ng-repeat="country in budgetProjects">
    <div ng-show="budgetProjectFoundInChart(country) || country.checked">
    
    <div ng-repeat="dataset in country.datasets">

    
    <h5 ng-click="budgetPickerLabel($event)" class="clickable">Select topics: {@country.name@} {@dataset.name@}<span ng-show="budgetTopicCount() > 0" class="selection_count">{@budgetTopicCount()@}</span></h5>    
    
    <div id="{@dataset.id@}_budget_topics" class="picker">

        <ol class="menutree">
            
            <li ng-if="dataset.topics.length>0">
            <label class="menu_label" for="t0">
                <input type="checkbox" class="choose_budget_topic" subtopic="0" ng-checked="budgetTopicFoundInChart(dataset.id,'0') > -1" ng-click="doBudgetResults(dataset,{id:'0'},'All Topics',false)"">
                <span class="major_topic">All Topics</span>
            </label>
            </li>
            
            <li ng-if="dataset.topics.length>0" ng-repeat="topic in dataset.topics">
            <label class="menu_label" for="{@dataset.id@}t{@topic.id@}">
                <input type="checkbox" class="choose_budget_topic" subtopic="{@topic.id@}" ng-checked="budgetTopicFoundInChart(dataset.id,topic.id) > -1" ng-click="doBudgetResults(dataset,topic,topic.name,false)">
                <span class="major_topic" ng-class="{clickable: topic.subtopics.length>0}">{@topic.name | limitTo:33 @}</span>
                <span style="float:right;" ng-show="topic.subtopics.length>0">
                <i ng-hide="topic.isOpen" class="fi-arrow-down"></i>
                <i ng-show="topic.isOpen" class="fi-arrow-up"></i>
                </span>
            </label>
            <input ng-click="topic.isOpen = ! topic.isOpen" type="checkbox" id="{@dataset.id@}t{@topic.id@}"/>
                <ol>
                    <li ng-repeat="subtopic in topic.subtopics">
                    <label class="menu_label" for="{@dataset.id@}s{@subtopic.id@}">
                    <input type="checkbox" class="choose_budget_topic" subtopic="{@subtopic.id@}" ng-checked="budgetTopicFoundInChart(dataset.id,subtopic.id) > -1" ng-click="doBudgetResults(dataset,subtopic,topic.name + ': ' + subtopic.name,true)"><span>{@subtopic.name | limitTo:33 @}</span></label>
                    <input type="checkbox" id="{@dataset.id@}s{@subtopic.id@}"/>
                    </li>
                </ol>
            </li>               
            
            
            <li ng-if="!dataset.topics.length" ng-repeat="topic in topics">
            <label class="menu_label" for="{@dataset.id@}t{@topic.id@}">
                <input type="checkbox" class="choose_budget_topic" subtopic="{@topic.id@}" ng-checked="budgetTopicFoundInChart(dataset.id,topic.id) > -1" ng-click="doBudgetResults(dataset,topic,topic.name,false)">
                <span class="major_topic" ng-class="{clickable: topic.subtopics.length>0}">{@topic.name | limitTo:33 @}</span>
                <span style="float:right;" ng-show="topic.subtopics.length>0">
                <i ng-hide="topic.isOpen" class="fi-arrow-down"></i>
                <i ng-show="topic.isOpen" class="fi-arrow-up"></i>
                </span>
            </label>
            <input ng-click="topic.isOpen = ! topic.isOpen" type="checkbox" id="{@dataset.id@}t{@topic.id@}"/>
                <ol>
                    <li ng-repeat="subtopic in topic.subtopics">
                    <label class="menu_label" for="{@dataset.id@}s{@subtopic.id@}"><input type="checkbox" class="choose_budget_topic" subtopic="{@subtopic.id@}" ng-click="doBudgetResults(dataset,subtopic,topic.name + ': ' + subtopic.name,true)"><span>{@subtopic.name | limitTo:33 @}</span></label>
                    <input type="checkbox" id="{@dataset.id@}s{@subtopic.id@}"/>
                    </li>
                </ol>
            </li> 
            
            
                        
        </ol>
    
    </div>
    
    
    </div>

    </div>
    </div>
   
   
    <h5 ng-show="budgetProjectCount() > 0 && budgetTopicCount() > 0" class="">Add series to chart</h5>
    <p class="no_results" ng-show="noBudgetResults()">No available series matching your selections.</p>
    <p class="no_results" ng-hide="noBudgetResults() || budgetProjectCount() == 0 || budgetTopicCount() == 0">Click on a series below to add it to the chart.</p>
    
    <div title="Click to add!" ng-repeat="result in budgetResults" class="dataset">
    <p ng-hide="isSelected(result.name)" ng-click="addToChart(result)" class="panel series">
    <!--<span style="clear:both;">{@result.name@}</span>-->
    <span class="addseries clearfix">
    <span style="float:left; width:90%;">{@result.name@}</span>
    <span style="float:right"><i class="fi-check"></i></span>
    </span>
    </p>
    </div>
    

  </div>
  <!-- END budget panel -->


  <!-- BEGIN history panel -->
  <div class="content" id="panel2">
  
    <h5>Pinned</h5>
    <div style="overflow: auto; height: 360px; border: 2px solid #dadada;">
    <div class="thumb-container-container">
    <div class="thumb-container" ng-repeat="thumb in saved | orderBy: 'id':true">
        
        
        <div class="thumb">
        <img class="thumb" ng-src="{@thumb.imgsrc@}">
        </div>
        
        <div class="thumb-menu clearfix">
        <span class="left clickable" ng-click="deletePinned($index)">Unpin</span>
        <span class="right clickable" ng-click="recallPinned($index)">Reload</span>
        </div>
        
    </div>
    </div>
    </div>
    	
    <h5>Recent</h5>
    <div style="overflow: auto; height: 180px; border: 2px solid #dadada;">
    <div class="thumb-container-container">
    <div class="thumb-container" ng-repeat="thumb in recent | orderBy: 'id':true">
        
        
        <div class="thumb">
        <img class="thumb" ng-src="{@thumb.imgsrc@}">
        </div>
        
        
        <div class="thumb-menu clearfix">
        <span class="right clickable" ng-click="recallRecent($index)">Reload</span>
        </div>
        
    </div>
    </div>
   
    
    </div>
     
  </div>
  <!-- END history panel -->
 
</div>
         
            
</div>
<!-- END left sidebar -->  
        
</div>
       
<!--<div id="embed_code" class="reveal-modal small" data-reveal>
</div>  -->
           
<div ng-repeat="series in chart.series" id="seriesoptions-{@series.dataset@}-{@series.topic@}" class="reveal-modal small" data-reveal>
        
        <div class="active_controls">
            
            <h6>{@series.name@}</h6>
            
            <label> Measure: </label>
            <select ng-disabled="chart.stacked" ng-model="series.measure" ng-options="measure as measure.split('_').join(' ').capitalizeFirstLetter() for measure in series.measures"></select>
            <label>Type:</label>
            <select ng-disabled="chart.stacked" ng-model="series.type" ng-options="type.type as type.display for type in chart_types"></select>
            <label>Y-axis: </label>
            <select ng-disabled="chart.stacked" ng-change="checkAxes(series)" ng-model="series.yaxis" ng-options="axis.num as axis.display for axis in yaxischoices | filter:choiceIsVisible(series)"></select>
            
        </div>
        
        <div style="float:left">
        
            <div ng-show="series.filters.length > 0" class="parent_list">
            
            <table class="filters sublist">
               <tbody>
                  <tr class="sublist_header">
                     <th>Include&nbsp;</th>
                     <th>Exclude&nbsp;</th>
                     <th>Filter</th>
                  </tr>
                  <tr ng-repeat="filter in series.filters">
                     <td class="sub_checkbox"><input title="Include" ng-change="clickInclude(filter)" ng-model="filter.include" type="checkbox"></td>
                     <td class="sub_checkbox"><input title="Exclude" ng-change="clickExclude(filter)" ng-model="filter.exclude" type="checkbox"></td>
                     <td><label>{@filter.display@}</label></td>
                  </tr>
               </tbody>
            </table>

            </div>
        
    
        </div>
        
        <div style="float:right;">
            <i ng-click="closeSeriesModal(series)" style="font-size:40px; color:black;" class="fi-x clickable"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i ng-click="editSeries(series)" style="font-size:40px; color:black;" class="fi-check clickable"></i>
        </div>
    
    </div>
      
<div id="datapoints" class="reveal-modal small" data-reveal>
        
        <p>&nbsp;</p>
        
        <div style="overflow: auto; height: 400px;">
        
        <table class="instances_table">
        
        
            <tbody>
               <tr>
                  <th>Source</th>
                  <th>Description</th>
               </tr>
               <tr ng-repeat="instance in instances">
                  <td>{@ instance.source @}</td>
                  <td>{@ instance.description @}</td>
               </tr>
            </tbody>
        
        
        </table>
        
        </div>
        
        <div style="float:right;">
            <a class="close-reveal-modal"><i style="font-size:40px; color:black;" class="fi-x clickable"></i></a>
        </div>
        
    </div>
        
</div>

</div>

</div>

{% endblock %}

{% block scripts %}
          
<script src="/static/js/highcharts.js"></script>
<script src="http://code.highcharts.com/2.2.4/modules/exporting.js"></script>
<script src="/static/js/highcharts-regression.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="static/js/clipboard.min.js"></script>
<script src="/static/js/tool.js"></script>


<script>
     
var rgba_colors = [
"{'background':'rgba(124, 181, 236, 0.5)'}", 
"{'background':'rgba(144, 237, 125, 0.5)'}", 
"{'background':'rgba(247, 163, 92, 0.5)'}", 
"{'background':'rgba(128, 133, 233, 0.5)'}", 
"{'background':'rgba(241, 92, 128, 0.5)'}", 
"{'background':'rgba(228, 211, 84, 0.5)'}", 
"{'background':'rgba(141, 70, 83, 0.5)'}",
"{'background':'rgba(145, 232, 225, 0.5)'}"
];

var hex_colors = ['#7cb5ec', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8d4653', '#91e8e1'];

//var baseUrl = 'http://beta.comparativeagendas.com';
//var baseUrl = 'http://192.168.99.100';
var baseUrl = '{{ baseUrl }}'
var exportUrl = '{{ exportUrl }}'

var copyLink = document.getElementById('copy-table');
var clipboard = new Clipboard(copyLink);
clipboard.on('success', function(e) {
    console.info('Action:', e.action);
    console.info('Text:', e.text);
    console.info('Trigger:', e.trigger);
    alert('Copied to clipboard.');
    
    e.clearSelection();
});

var scatterOptions = {
            chart: {
                renderTo: 'chart',
                type: 'scatter',
            },
            title: {
                text: ''
            },
            credits: { 
                enabled: false 
            },    
            xAxis: {
                title: {
                    enabled: true,
                    text: ''
                },
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true
            },
            yAxis: {
                title: {
                    text: ''
                },
                min: 0,
            },
            /*legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1
            },*/
            legend:{
                enabled: false
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    },
                    states: {
                        hover: {
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}'
                    }
                }
            },
            
            exporting:{
                buttons:{
                    contextButton:{
                        enabled: false
                    }
                },
                url: exportUrl,
                width: '960'
            },
            
            series: [{
                regression: false ,
                regressionSettings: {
                    type: 'linear',
                    color:  'rgba(59, 78, 111, .9)'
                },
                name: '',
                color: 'rgba(59, 78, 111, .5)',
                data:  []
            }]
        };

var defaultOptions = {
    
    chartType: "line",
     
    chart: {
        renderTo: 'chart',
        ignoreHiddenSeries : false
    },

    title: {
        text: ''
    },

    credits: { enabled: false },

    xAxis: [{
        title : {
            text: 'Year'
        },
    
        categories: [],
    
        labels : {
            rotation: -60,
            step: 2
        },
    
        tickPosition: 'outside',
        tickWidth: 0,
        lineWidth: 1,
        lineColor: '#FFFFFF'
    
    }],

    yAxis: [],
    
    tooltip: {
    
        enabled: true,
        hideDelay: 0,
        snap: 0,
        formatter: tooltipFormatter
        
    },
    
    plotOptions:{
        area: {
        
        },
        
        column: {
        
        },
        
        line: {
            dataLabels: {
                enabled: false 
            }
        },
        column:{
            borderWidth: 0.2
        },
        series:{
            point: {
                events: {
                    click: clickPoint
                }
           },

           states: {
            hover: {
             halo: false
            }
           },

           shadow: false,
           animation: false,
           cursor: 'pointer'
       }
    },

    legend:{
        enabled: false
    },

    exporting:{
        buttons:{
            contextButton:{
                enabled: false
            }	 
        },
        url: exportUrl,
        width: '960'
    },

    series: [],

    colors: hex_colors,

};

{% if options %}

    var options =  {{ options | safe }};
    
    //console.log(options.CAP_chart);
    
    // These properties have HTML & don't survive serialization to db and back.. why?
    options.plotOptions.series.point.events['click'] = clickPoint;
    options.tooltip.formatter = tooltipFormatter;
     
{% else %}
    
    $('#chart').hide();
    $('#intro').show();
    
    var options = $.extend(true, {}, defaultOptions); 

{% endif %}
      
     // alert('gawd');
      
</script>
        
{% endblock %}
