{% extends "base.html" %}

{% block head %}

<link href="/static/css/menutree.css" rel="stylesheet">
<link href="/static/css/tool.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div ng-app="toolApp">

<div id="toolcontroller" ng-controller="ToolController">

<div id="bluestripe">
     
    <div class="row fullWidth">
     	<div class="medium-12 columns">
     	 <div class="row fullWidth">
     	    
     	    <div class="medium-11 columns text-right">
     	        <a id="save-chart" ng-click="saveChart()" style="margin-bottom:10px;" class="button tiny">Pin chart</a>
     	        <a id="clear-chart" ng-click="clearChart()" style="margin-bottom:10px;" class="button tiny">Clear chart</a>
     	    </div>
     	    
     	    <div class="medium-1 columns text-left">
     	    <a class="orange-link tool-help" href="pages/Help">help</a>
     	    </div>
     	    
     	 </div>
     	</div>
     </div>

</div> 


<div id="app-container">

<div ngclass="row fullWidth">    

<input type="hidden" id="user" name="user" value="{{user}}" />
<input type="hidden" id="slug" name="slug" value="{{slug}}" />

<div class="large-9 medium-9 push-3 columns">
         
        <div class="row">
            
            <dl class="tabs" data-tab>
              <dd class="active"><a href="#graph-view"><strong>Edit</strong></a></dd>
              <dd><a href="#data-view"><strong>Explore</strong></a></dd>
            </dl>
            
            <div class="row">
                <div id="chart"></div>
          
            </div>
            
            <div class="row">
            		
            		<div id="chosen" style="margin-left:62px;">
            
						<span ng-repeat="series in chart.series">
			
						<span ng-click="removeFromChart($index)" class="series" ng-style="{@series.color@}">
						{@series.name@}
						<i class="fi-minus-circle"></i>
						</span>
					
						</span>
            		
            		</div>

            </div>
            
            <div class="tabs-content">
            
                <div class="content active clearfix" id="graph-view">
                
                <div class="large-3 medium-3 columns" style="margin-left: 34px;">

                 <label><h5>Chart type</h5></label>
                 <select class="type" ng-change="allSeriesSameType()" ng-model="chart.chartType" ng-options="type.type as type.display for type in chart_types"></select>
                
               </div>
                
                <div class="large-3 medium-4 columns">
                
                   <label><h5>Dates</h5></label>
                   <select ng-change="drawChart()" ng-model="chart.yearFrom" ng-options="year for year in years" class="from years" name="years_from" style="display: inline-block;"></select>
                   <select ng-change="drawChart()" ng-model="chart.yearTo" ng-options="year for year in years" class="to years" name="years_to" style="display: inline-block;"></select>
                    
                </div>
                

				<div class="large-3 medium-4 columns left">
					
					<label><h5>Chart export</h5></label>
					<select id="chart_actions" class="from years" name="years_from" style="display: inline-block;">
					<option selected="selected">&nbsp;</option>
					<option value="download">Download Image</option>
					<option value="copy">Copy URL</option>
					<option value="embed">Embed</option>
					</select>
					
				</div>
                 
                </div>
                
                <div style="margin-left:54px" class="content" id="data-view">
                
                <table class="drilldown">
                   <tbody>
                      <tr>
                         <th></th>
                         <th ng-repeat="series in chart.series">
                            <h3>{@series.name@}</h3>
                            <h3 class="text-center">({@series.measure@})</h3>
                         </th>
         
                      </tr>
                      <tr ng-repeat="year in yearslice">
                         <td>{@ year @}</td>
                         <td ng-repeat="series in chart.series">
                         <div class="text-center">
                         <a>{@ series.data[$parent.$index] @}</a>
                         </div>
                         </td>
                      </tr>
                   </tbody>
                </table>


                <a href="#">Copy this table</a><br/>
                <a href="#">Download all data</a>
                
                </div>
                
            </div>
            
        </div>
            
</div>
            
<div class="large-3 medium-3 pull-9 columns">
     
<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1"><strong>Add series</strong></a></dd>
  <dd><a href="#panel2"><strong>View history</strong></a></dd>
</dl>
<div class="tabs-content contained">
  <div class="content active" id="panel1">
    
   
    <!--h4>Find datasets</h4>-->
    <h5 class="picker-label">Select countries<span ng-show="countryCount() > 0" class="selection_count">{@countryCount()@}</span></h5>
    <div id="countries" class="picker" style="display:block">
    <div ng-repeat="country in countries">
    <input ng-attr-country="{@country.short_name@}" type="checkbox" ng-click="doFacets()">
    <label>{@country.name | limitTo : 27@}</label>
    </div>
    </div>
   


	<h5 class="picker-label">Select dataset types<span ng-show="categoryCount() > 0" class="selection_count">{@categoryCount()@}</span></h5>
    <div id="categories" class="picker">
    <div ng-repeat="category in categories">
    <input ng-attr-catid="{@category.category_id@}" type="checkbox" ng-click="doFacets()">
    <label>{@category.name | limitTo : 27@}</label>
    </div>
    </div>
   

    <h5 class="picker-label">Select policy topics<span ng-show="topicCount() > 0" class="selection_count">{@topicCount()@}</span></h5>
    <div id="topics" class="picker">

        <ol id="menutree">
        
            <li ng-repeat="topic in topics">
            <label class="menu_label" for="t{@topic.id@}"><input type="checkbox" class="choose_topic" subtopic="{@topic.id@}" ng-click="doFacets()"><span class="major_topic">{@topic.name | limitTo:33 @}</span><span style="float:right;"><i ng-hide="isOpen" class="fi-arrow-down"></i><i ng-show="isOpen" class="fi-arrow-up"></i></span></label>
            <input ng-click="isOpen = ! isOpen" type="checkbox" id="t{@topic.id@}"/>
                <ol>
                    <li ng-repeat="subtopic in topic.subtopics">
                    <label class="menu_label" for="s{@subtopic.id@}"><input type="checkbox" class="choose_topic" subtopic="{@subtopic.id@}" ng-click="doFacets()"><span>{@subtopic.name | limitTo:33 @}</span></label>
                    <input type="checkbox" id="s{@subtopic.id@}"/>
                    </li>
                </ol>
            </li>
                        
        </ol>
    
    </div>
   
    <h5 ng-show="countryCount() > 0 && categoryCount() > 0 && topicCount() > 0" class="picker-label">Add series to chart</h5>
    <p class="no_results" ng-show="noResults()">No available series matching your selections.</p>
    
    <div ng-repeat="result in results" class="dataset">
    <p ng-hide="isSelected(result.name)" ng-click="addToChart(result)" class="panel series data-equalizer">
    <span class="data-equalizer-watch">{@result.name | limitTo:33@}</span><span class="addseries data-equalizer-watch">
    <span style="float:right"><i class="fi-plus"></i></span>
    </span>
    </p>
    </div>
    

  </div>

  <div class="content" id="panel2">
  
    <h5>Pinned</h5>
    <div style="overflow: auto; height: 360px; border: 2px solid #dadada;">
    <img class="thumb" ng-click="savedMenu($index)" ng-repeat="thumb in saved | orderBy: 'id':true" ng-src="{@thumb.imgsrc@}">
    </div>
    	
    <h5>Recent</h5>
    <div style="overflow: auto; height: 180px; border: 2px solid #dadada;">
    <img class="thumb" ng-click="thumbMenu($index)" ng-repeat="thumb in recent | orderBy: 'id':true" ng-src="{@thumb.imgsrc@}">
    </div>
    
  </div>
  
</div>
         
            
</div>
        
</div>
       
  
            
<div id="embed_code" class="reveal-modal small" data-reveal>
    
    <p>To embed this mighty CAP chart copy the following code and slap it up on a web page:</p>
    
    <textarea>
    <pre>
    <div id="chart"></div>
    <script src="//code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script>// <![CDATA[
    new Highcharts.Chart({{ options | safe }});
    // ]]></script>
    </pre>
    </textarea>

</div>  
    
    
    
      
    <div ng-repeat="series in chart.series" id="seriesoptions-{@series.dataset@}-{@series.topic@}" class="reveal-modal small" data-reveal>
        
        <div id="bills_topic_1" class="active_controls">
            
            <h6>{@series.name@}</h6>
            
            <label> Measure: </label>
            <select ng-change="setAxisMeasure(series)" ng-model="series.measure" ng-options="measure.measure as measure.display for measure in measures"></select>
            <label>Type:</label>
            <select ng-model="series.type" ng-options="type.type as type.display for type in chart_types"></select>
            <label>Y-axis: </label>
            <select ng-change="setTrump(series)" ng-model="series.yaxis" ng-options="axis.num as axis.display for axis in yaxischoices | filter: choiceIsVisible(series)"></select>
        
        </div>
        

        
        <div style="float:left">
        
            <div ng-show="series.filters.length > 0" class="parent_list">
            
            <table class="filters sublist">
               <tbody>
                  <tr class="sublist_header">
                     <th>Include&nbsp;</th>
                     <th>Exclude&nbsp;</th>
                     <th>Filter</th>
                  </tr>
                  <tr ng-repeat="filter in series.filters">
                     <td class="sub_checkbox"><input title="Include" ng-model="filter.include" type="checkbox"></td>
                     <td class="sub_checkbox"><input title="Exclude" ng-model="filter.exclude" type="checkbox"></td>
                     <td><label>{@filter.display@}</label></td>
                  </tr>
               </tbody>
            </table>

            </div>
        
    
        </div>
        
        <div style="float:right;">
            <i ng-click="closeSeriesModal(series)" style="font-size:40px;" class="fi-x"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i ng-click="editSeries(series)" style="font-size:40px;" class="fi-check"></i>
        </div>
    
    </div>
      
    <div id="datapoints" class="reveal-modal small" data-reveal>
        
        <p>&nbsp;</p>
        
        <div style="overflow: auto; height: 400px;">
        
        <table class="instances_table">
        
        
            <tbody>
               <tr>
                  <th>Source</th>
                  <th>Description</th>
               </tr>
               <tr ng-repeat="instance in instances">
                  <td>{@ instance.source @}</td>
                  <td>{@ instance.description @}</td>
               </tr>
            </tbody>
        
        
        </table>
        
        </div>
        
        <a class="close-reveal-modal">&#215;</a>
        
    </div>
    
	<div id="thumbnailoptions" class="reveal-modal tiny" data-reveal>
	  
	<br/>
	  
	  <img class="thumb" src="/static/img/lilchart3.png">
	  <br/>
	  
	 
	<select class="from years" name="years_from" style="display: inline-block;">
	<option selected="selected">&nbsp;</option>
	<!--<option>Save</option>-->
	<option>Download Image</option>
	<option>Copy URL</option>
	<option>Embed</option>
	</select>
   
	<input id="pushme" class="left" type="button" value="recall">
	  
	  <a class="close-reveal-modal">&#215;</a>
    
    </div>
    
  </div>

</div>

</div>

{% endblock %}

     {% block scripts %}
          
<script src="/static/js/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
<script src="/static/js/tool.js"></script>

<script>
        
var rgba_colors = [
"{'background':'rgba(124, 181, 236, 0.5)'}", 
"{'background':'rgba(144, 237, 125, 0.5)'}", 
"{'background':'rgba(247, 163, 92, 0.5)'}", 
"{'background':'rgba(128, 133, 233, 0.5)'}", 
"{'background':'rgba(241, 92, 128, 0.5)'}", 
"{'background':'rgba(228, 211, 84, 0.5)'}", 
"{'background':'rgba(141, 70, 83, 0.5)'}",
"{'background':'rgba(145, 232, 225, 0.5)'}"
];

var hex_colors = ['#7cb5ec', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8d4653', '#91e8e1'];

var year_list = [];
for (i=1946; i < 2016; i++) {
    year_list.push(i.toString());            
}

var defaultOptions = {
        
    chart: {
        renderTo: 'chart',
        ignoreHiddenSeries : false
    },

    title: {
        text: ''
    },

    tooltip: { enabled: false },
    credits: { enabled: false },

    xAxis: [{
        title : {
            text: 'Year'
        },
    
        categories: year_list,
    
        labels : {
                rotation: -90
        },
    
        tickPosition: 'outside',
        tickWidth: 0,
        lineWidth: 1,
        lineColor: '#FFFFFF'
    
    }],

    yAxis: [],

    plotOptions:{
        line: {
            dataLabels: {
                enabled: false 
            }
        },
        column:{
            borderWidth: 0.2
        },
        series:{
            point: {
                events: {
                    
                }
           },

           states: {
            hover: {
             halo: false
            }
           },

           shadow: false,
           animation: false,
           cursor: 'pointer'
       }
    },

    legend:{
        enabled: false
    },

    exporting:{
        buttons:{
            contextButton:{
                enabled: false
            }	 
        },
        url: 'http://104.237.136.8:8080/highcharts-export-web/',
        width: '960'
    },

    series: [],

    colors: hex_colors,

};

    {% if options %}
    
        var options =  {{ options | safe }};
        options.plotOptions.series.point.events['click'] = clickPoint;
         
    {% else %}
    
        var options = $.extend(true, {}, defaultOptions); 
    
    {% endif %}
      
</script>
        
{% endblock %}
